<!-- HTML Template -->
<div class="journey container">
    <div class="wrap">
        <div class="logo"><span class="logo-text">softLife</span><span class="logo-tagline">because life shouldn't be hard</span>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-8">


                <div class="herounit"><h2>Win a phenomenal jetpack!</h2>
                </div>
                <img src="img/jetPI.jpg"/>

                <div class="info">
                    Enter your name and twitter handle, and you'll be automatically entered to instantly win your very
                    own
                    jet pack. Winners will be selected moments after they enter, and will be notified via twitter.
                </div>
                <div class="inputwrap"><label>Email Address</label>
                    <input id='email-addr'/></div>


                <div class="inputwrap">
                    <label>Twitter Handle</label>
                    <input class="span3" id='twitter-handle'/>
                </div>
                <div class="inputwrap">
                    <button class='btn btn-primary' id='startJourney'>Enter the contest!</button>
                </div>

            </div>

            <div class="col-xs-6 col-md-4">

                <div id='journeyInfo'></div>
                <div>
                    <a class="twitter-timeline" href="https://twitter.com/softliferocks"
                       data-widget-id="461527384546480128">Tweets by @softliferocks</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>


                </div>
            </div>
        </div>
        <div class="row disclaimer">This is not an actual contest and is just for demo purposes only.</div>
    </div>
    <div class="modal fade " id="success-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">You're in!  Good luck!</h4>
                </div>
                <div class="modal-body">
                    <p>You've been entered into the contest.  Check your email and Twitter mentions shortly to see if you've won!</p>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


